@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

/* --------------------------
    Body
----------------------------- */

body{
    font-family: 'Open Sans', sans-serif;
    background: peachpuff;
    padding: 0;
    margin: 0;
    border-top: 10px solid coral;
    
}

/* --------------------------
    Contenedor
----------------------------- */

.contenedor{
    width: 960px;
    margin: 10px auto;
   
}
/* --------------------------
    Header
----------------------------- */
header{
    text-align: center;
    font-weight: 300;
    font-size: 200%;
}

/* --------------------------
    Footer
----------------------------- */

footer{
    text-align: center;
    height: 100px;
    line-height: 100px;
    color: gray;
    clear: both; /* lo posicionamos debajo de la seccion con el clear: both*/
}

/* --------------------------
    Navigation
----------------------------- */
nav ul{
    font-size: medium;
    list-style: none;
    padding: 0;
    margin: 50px 0;
    text-align: center;
}
nav ul li {
    display: inline; /* Para obtener los <li> desplegados en una sola linea */
   cursor: pointer;
   margin-right: 10px;
   color: gray;

   transition: 0.3s; /* Añadiremos un pequeño tiempo de transición para la aniamcion del cambio de color */
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
}

nav ul li:hover { /* El color del texto sera color gris que se convertira en negro al hacer hover */
    color: #000;
}
nav ul li:last-child { /* El elemento hijo no necesita ningun margen derecho*/
    margin-right: 0;
}

nav ul li:after {  /* Agregamos efecto barras con el "after" con el content definiendolo*/
    margin-left: 10px;
    content: '/';
    color: #bbb;
}
 
nav ul li:hover:after { /* Para que las barras no cambien de color en la poscicion "hover"*/
    color: #bbb;
}

nav ul li:last-child:after { /* Para eliminar la ultima barra*/
    content: '';
}

/* --------------------------
    Main Image Box
----------------------------- */
.seccion{
    margin: 20px 0;
  
}

.seccion figure{ /*Darle estilo a cada una de las imagenes y figuras*/
    float: left;/*para alinearlas*/
    margin: 20px;
    width: 200px;
    height: 200px;
    position: relative;/* Para posicionar de manera absoluta otros elementos (como la descripcion) dentro de figure*/
    box-shadow: black;

    transition: 0.6s; /*Agregamos un pequeño tiempo para que nuestras cajas aumenten y reduzcan su tamaño*/
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -ms-transition: 0.6s;
}

.seccion figure a img{ /*Ajustar la imagen estableciendo la altura y la anchura */
    height: 100%;
    width: 100%;
}

.seccion figure dl{
    opacity: 0; /*Para que no sea visible inicialmente*/
    position: absolute; /*Posicionaremos dentro de la figura de forma absoluta*/
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 20px;
    margin: 0;
    line-height: 2.5;/*Darle fondo oscuro y translúcido*/
    background: white;

    transition: 0.6s; /*Añadiremos un pequeño tiempo de transacion para anaimar su opacidad*/
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -ms-transition: 0.6s;

}

.seccion figure:hover dl {
    opacity: 1;
}

.seccion figure dl dd {
    text-transform: uppercase; /*Convertir en mayuscula*/
    font-family: 'PT Sans Narrow';
    font-size: 12px;
    margin-bottom: -16px;
}
.work figure dl dd { /*Ligero margen inzquierdo*/
    margin-left: 0;
}
